# GitHub Actions 工作流，用于测试和准备插件发布，步骤如下：
# - 验证 Gradle Wrapper。
# - 运行 'test' 和 'verifyPlugin' 任务。
# - 运行 Qodana 代码检查。
# - 运行 'buildPlugin' 任务，并为后续测试准备构件。
# - 运行 'runPluginVerifier' 任务。
# - 创建草稿版本。
#
# 此工作流在 push 和 pull_request 事件上触发。
#
# GitHub Actions 参考文档：https://help.github.com/en/actions
#
## JBIJPPTPL

name: 构建
on:
    # 仅在推送到 'main' 分支时触发工作流（避免重复检查，例如来自 dependabot 的拉取请求）
    push:
        branches: [ main ]
    # 在任何拉取请求时触发工作流
    pull_request:

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

jobs:

    # 准备环境并构建插件
    build:
        name: 构建
        runs-on: ubuntu-latest
        steps:

            # 释放 GitHub Actions 环境的磁盘空间
            -   name: 最大化构建空间
                uses: jlumbroso/free-disk-space@v1.3.1
                with:
                    tool-cache: false
                    large-packages: false

            # 检出当前仓库
            -   name: 获取源代码
                uses: actions/checkout@v5

            # 为后续步骤设置 Java 环境
            -   name: 设置 Java
                uses: actions/setup-java@v5
                with:
                    distribution: zulu
                    java-version: 21

            # 设置 Gradle
            -   name: 设置 Gradle
                uses: gradle/actions/setup-gradle@v5

            # 构建插件
            -   name: 构建插件
                run: ./gradlew buildPlugin

            # 为创建构件准备插件归档内容
            -   name: 准备插件构件
                id: artifact
                shell: bash
                run: |
                    cd ${{ github.workspace }}/build/distributions
                    FILENAME=`ls *.zip`
                    unzip "$FILENAME" -d content
                    
                    echo "filename=${FILENAME:0:-4}" >> $GITHUB_OUTPUT

            # 将已构建的插件作为构件存储以供下载
            -   name: 上传构件
                uses: actions/upload-artifact@v5
                with:
                    name: ${{ steps.artifact.outputs.filename }}
                    path: ./build/distributions/content/*/*

    # 运行测试并上传代码覆盖率报告
    test:
        name: 测试
        needs: [ build ]
        runs-on: ubuntu-latest
        steps:

            # 释放 GitHub Actions 环境的磁盘空间
            -   name: 最大化构建空间
                uses: jlumbroso/free-disk-space@v1.3.1
                with:
                    tool-cache: false
                    large-packages: false

            # 检出当前仓库
            -   name: 获取源代码
                uses: actions/checkout@v5

            # 为后续步骤设置 Java 环境
            -   name: 设置 Java
                uses: actions/setup-java@v5
                with:
                    distribution: zulu
                    java-version: 21

            # 设置 Gradle
            -   name: 设置 Gradle
                uses: gradle/actions/setup-gradle@v5
                with:
                    cache-read-only: true

            # 运行测试
            -   name: 运行测试
                run: ./gradlew check

            # 收集失败测试的测试结果
            -   name: 收集测试结果
                if: ${{ failure() }}
                uses: actions/upload-artifact@v5
                with:
                    name: tests-result
                    path: ${{ github.workspace }}/build/reports/tests

            # 将 Kover 报告上传到 CodeCov
            -   name: 上传代码覆盖率报告
                uses: codecov/codecov-action@v5
                with:
                    files: ${{ github.workspace }}/build/reports/kover/report.xml
                    token: ${{ secrets.CODECOV_TOKEN }}

    # 运行 Qodana 代码检查并提供报告
    inspectCode:
        name: 代码检查
        needs: [ build ]
        runs-on: ubuntu-latest
        permissions:
            contents: write
            checks: write
            pull-requests: write
        steps:

            # 释放 GitHub Actions 环境的磁盘空间
            -   name: 最大化构建空间
                uses: jlumbroso/free-disk-space@v1.3.1
                with:
                    tool-cache: false
                    large-packages: false

            # 检出当前仓库
            -   name: 获取源代码
                uses: actions/checkout@v5
                with:
                    ref: ${{ github.event.pull_request.head.sha }} # 检出实际的拉取请求提交，而非合并提交
                    fetch-depth: 0 # 拉取请求分析需要完整的历史记录

            # 为后续步骤设置 Java 环境
            -   name: 设置 Java
                uses: actions/setup-java@v5
                with:
                    distribution: zulu
                    java-version: 21

            # 运行 Qodana 代码检查
            -   name: Qodana - 代码检查
                uses: JetBrains/qodana-action@v2025.1.1
                with:
                    cache-default-branch-only: true

    # 运行插件结构验证以及 IntelliJ 插件验证器
    verify:
        name: 验证插件
        needs: [ build ]
        runs-on: ubuntu-latest
        steps:

            # 释放 GitHub Actions 环境的磁盘空间
            -   name: 最大化构建空间
                uses: jlumbroso/free-disk-space@v1.3.1
                with:
                    tool-cache: false
                    large-packages: false

            # 检出当前仓库
            -   name: 获取源代码
                uses: actions/checkout@v5

            # 为后续步骤设置 Java 环境
            -   name: 设置 Java
                uses: actions/setup-java@v5
                with:
                    distribution: zulu
                    java-version: 21

            # 设置 Gradle
            -   name: 设置 Gradle
                uses: gradle/actions/setup-gradle@v5
                with:
                    cache-read-only: true

            # 运行验证插件任务和 IntelliJ 插件验证器工具
            -   name: 运行插件验证任务
                run: ./gradlew verifyPlugin

            # 收集插件验证器结果
            -   name: 收集插件验证器结果
                if: ${{ always() }}
                uses: actions/upload-artifact@v5
                with:
                    name: pluginVerifier-result
                    path: ${{ github.workspace }}/build/reports/pluginVerifier

    # 在 GitHub Releases 页面为手动验证准备草稿版本
    # 如果接受并发布，将触发发布工作流
    releaseDraft:
        name: 草稿版本
        if: github.event_name != 'pull_request'
        needs: [ build, test, inspectCode, verify ]
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:

            # 检出当前仓库
            -   name: 获取源代码
                uses: actions/checkout@v5

            # 通过 curl 请求获取带有 draft 标志的可用版本，删除旧的草稿版本
            -   name: 删除旧的草稿版本
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                run: |
                    gh api repos/{owner}/{repo}/releases \
                      --jq '.[] | select(.draft == true) | .id' \
                      | xargs -I '{}' gh api -X DELETE repos/{owner}/{repo}/releases/{} 

            # 创建一个非公开可见、需要手动接受的新草稿版本
            -   name: 创建草稿版本
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                run: |
                    VERSION=$(./gradlew properties --property version --quiet --console=plain | tail -n 1 | cut -f2- -d ' ')
                    RELEASE_NOTE="./build/tmp/release_note.txt"
                    ./gradlew getChangelog --unreleased --no-header --quiet --console=plain --output-file=$RELEASE_NOTE
                    
                    gh release create $VERSION \
                      --draft \
                      --title $VERSION \
                      --notes-file $RELEASE_NOTE