# GitHub Actions 工作流，用于在 Linux、Windows 和 Mac 上启动 UI 测试，步骤如下：
# - 准备并启动带有您的插件和 robot-server 插件（与 UI 交互所需）的 IDE。
# - 等待 IDE 启动。
# - 使用单独的 Gradle 任务运行 UI 测试。
#
# 有关 IntelliJ 平台 UI 测试的信息，请查看 https://github.com/JetBrains/intellij-ui-test-robot。
#
# 工作流手动触发。

name: 运行 UI 测试
on:
    workflow_dispatch

jobs:

    testUI:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                include:
                    -   os: ubuntu-latest
                        runIde: |
                            export DISPLAY=:99.0
                            Xvfb -ac :99 -screen 0 1920x1080x16 &
                            gradle runIdeForUiTests &
                    -   os: windows-latest
                        runIde: start gradlew.bat runIdeForUiTests
                    -   os: macos-latest
                        runIde: ./gradlew runIdeForUiTests &

        steps:

            # 检出当前仓库
            -   name: 获取源代码
                uses: actions/checkout@v6

            # 为后续步骤设置 Java 环境
            -   name: 设置 Java
                uses: actions/setup-java@v5
                with:
                    distribution: zulu
                    java-version: 21

            # 设置 Gradle
            -   name: 设置 Gradle
                uses: gradle/actions/setup-gradle@v5
                with:
                    cache-read-only: true

            # 运行为 UI 测试准备的 IDEA
            -   name: 运行 IDE
                run: ${{ matrix.runIde }}

            # 等待 IDEA 启动
            -   name: 健康检查
                uses: jtalk/url-health-check-action@v4
                with:
                    url: http://127.0.0.1:8082
                    max-attempts: 15
                    retry-delay: 30s

            # 运行测试
            -   name: 测试
                run: ./gradlew test